// create a new page using Jade syntax
// single HTML line and custom angular directive

h1 Home

elf-home-description

.panel.panel-default
    .panel-heading Renewable Data
    .panel-body
        div {{description}}